MTVS_Midnight/Binaries
MTVS_Midnight/DerivedDataCache
MTVS_Midnight/Intermediate
MTVS_Midnight/Saved
MTVS_Midnight/.vsconfig
MTVS_Midnight/MTVS_Midnight.sln
MTVS_Midnight/Content/StarterContent
MTVS_Midnight/Plugins/CustomMutipleScreen/Content
MTVS_Midnight/Plugins/CustomMutipleScreen/Intermediate
MTVS_Midnight/Plugins/CustomMutipleScreen/Binaries
MTVS_Midnight/Backup
.vs